%document-padding {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    @media (max-width: 600px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}