.header {
    display: flex;
    align-items: center;
    height: $header-height;
    background-color: $color-dark-1;
    @extend %document-padding;


    &__title {
        font-size: 2.5rem;
        padding: 0;
        margin: 0;

        @media (min-width: $media-breakpoint-tablet) {
            font-size: 3rem;
        }
    }
}