.modal {
    display: inline-flex;
    flex-direction: column;
    min-width: 100%;
    margin: auto;
    padding: 1.8rem;
    font-size: 1.3rem;
    background-color: $color-secondary;
    border: 2px solid $color-primary;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;

    @media (min-width: 400px) {
        min-width: 25rem;
    }

    &-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__title {
        font-size: 2.25rem;
    }

    &__text {
        display: block;
        margin-bottom: 2rem;
    }

    &__hours,
    &__minutes,
    &__seconds {
        font-size: $font-size-large;
    }

    &--edit {
        width: 100%;
        max-width: 43.75rem;

        &__timeset {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;

            .col {
                min-width: 20%;
                width: 5.1rem;
            }
        }

        &__alarms {
            display: flex;
            flex-wrap: wrap;

            @media (min-width: 455px) {
                flex-wrap: nowrap;
            }

            &-group {
                display: flex;
                width: 100%;
                margin-bottom: 0.5rem;
        
                @media (min-width: 455px) {
                    width: auto;
                    margin-right: 0.5rem;
                    margin-bottom: 0;
                }

                @media (min-width: 580px) {
                    width: 57.5%;
                }
            }

            &-btn {
                width: 100%;

                @media (min-width: 455px) {
                    @include add-btn-standard-width();                
                    // max-width: 11.625rem;
                }
            }
        }
    }

    &--message {
        color: $color-primary;
        text-align: center;
    }

    &-closable-area {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

}