@font-face {
    font-family: 'Chivo-Regular';
    src: url('../fonts/Chivo/chivo-regular-webfont.eot');
    src: url('../fonts/Chivo/chivo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chivo/chivo-regular-webfont.woff2') format('woff2'),
         url('../fonts/Chivo/chivo-regular-webfont.woff') format('woff'),
         url('../fonts/Chivo/chivo-regular-webfont.ttf') format('truetype'),
         url('../fonts/Chivo/chivo-regular-webfont.svg#chivoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Chivo-Regular';
}