.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
        
    height: 67.5vh;

    &-time {
        text-align: center;
        font-size: 2.75rem;

        @media (min-width: $media-breakpoint-mobil) {
            font-size: 16vw;
        }

        @media (min-width: $media-breakpoint-tablet) {
            font-size: 8.5rem;
        }
    }
}